body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 3vh 0 3vh 0;
    text-align: justify;
    padding: 1em 1em;
  }
  
  p {
    color: #444;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
    margin: 0 auto 1em auto;
    text-align: justify;
    max-width: 50em;
  }

  .container{
      background: #fff;
      width: 80%;
      overflow: auto;
  }
  
  
  img {
      max-width: 100%;
    }
  
  img#sfo {
    transition: width 0.5s;
    width: 50vw;
  }
  
  figure {
    margin: 1em 0 1em 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 700px) {
    img#sfo {
      max-width: 90vw;
      width: 90vw;
    }
  }
  
 
  